general = {
	password = "{{ shairport_sync_password }}"; 
	output_backend = "pw"; 
	port = 5000; 

	ignore_volume_control = "no"; 
};

pw =
{
	application_name = "Shairport"; 
	node_name = "Shairport"; 
};

metadata =
{
	enabled = "yes"; 
	include_cover_art = "yes"; 
};

