[Login]
HandlePowerKey=ignore
HandlePowerKeyLongPress=poweroff
PowerKeyIgnoreInhibited=no

HandleRebootKey=reboot
HandleRebootKeyLongPress=reboot
RebootKeyIgnoreInhibited=no

HandleSuspendKey=suspend
HandleSuspendKeyLongPress=hibernate
SuspendKeyIgnoreInhibited=no

HandleHibernateKey=hibernate
HandleHibernateKeyLongPress=hibernate
HibernateKeyIgnoreInhibited=no

HandleLidSwitch=suspend-then-hibernate
HandleLidSwitchExternalPower=suspend-then-hibernate
HandleLidSwitchDocked=ignore
